<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>XIX congreso Diocesano de jovenes</title>
	<link type="image/x-icon" href="img/pastoral.png" rel="icon" />
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
</head>
<body>
	{% block header %}
	{% endblock %}

	{% block content %}
	{% endblock %}
	
	{% block form %}
	{% endblock %}

	{% block footer %}
	{% endblock %}
</body>
</html>