{% extends 'layout.html' %}

{% block header %}
	<header class="title-content">
		<h1 class="title">XlX Congreso</h1>
		<p class="p-title">Diocesano De Jovenes</p>
		<figure class="content-logo-pastoral">
			<img class="logo-pastoral" src="/img/pastoral.png" alt="">
		</figure>
	</header>
{% endblock %}


{% block form %}
	<section>
		<figure class="content-logo-diocesis">
			<img class="logo-diocesis" src="/img/diocesis.png" alt="">
		</figure>
		<article class="content-loggin">
			<p class="form-title" >Loggin</p>
			<form action="Inloggin" class="" method="post">
				<input class="email" type="email" name="Correo" placeholder="Correo" required>
				<input class="pass" type="password" name="Pass" placeholder="Contraseña" required>
				<input class="button-logg" type="submit" value="Entrar">
			</form>
		</article>
	</section>
{% endblock %}

{% block footer %}
	<footer>
		<article  class="content-orgnizadores">
			<p class="title-organizadores">Organiza</p>
			<figure class="footer-logo-pastoral">
				<img class="logo-pastoral-foot" src="/img/pastoral.png" alt="">
			</figure>
			<figure class="footer-logo-rcc">
				<img class="logo-rcc-foot" src="/img/rcc.png" alt="">
			</figure>
		</article>
		<article  class="content-invitan">
			<p class="title-invitan">Invitan</p>
			<figure class="footer-logo-diocesis">
				<img class="logo-diocesis-foot" src="/img/diocesis.png" alt="">
			</figure>
		</article>
		<p class="team-monteriajs">© Koionia 2015</p>
	</footer>
{% endblock %}