{% extends 'layout.html' %}

{% block header %}
	<header class="title-content">
		<h1 class="title">XlX Congreso</h1>
		<p class="p-title">Diocesano De Jovenes</p>
		<figure class="content-logo-pastoral">
			<img class="logo-pastoral" src="/img/pastoral.png" alt="">
		</figure>
	</header>
{% endblock %}

{% block content %}
	<section class="content-table">
		<h2 class="title-registrados">Personas Registradas</h2>
		<table class="table">
		<tr class="fill-header">
			<td>Nombres</td>
			<td>Apellidos</td>
			<td>Edad</td>
			<td>Telefono</td>
			<td>Correo</td>
			<td>Comunidad</td>
			<td>Parroquia</td>
			<td>Mojuvi</td>
		</tr>
		{% for person in array %}
  			<tr>
				<td>{{ person.Nombres }}</td>
				<td>{{ person.Apellidos }}</td>
				<td>{{ person.Edad }}</td>
				<td>{{ person.Telefono }}</td>
				<td>{{ person.Correo }}</td>
				<td>{{ person.Comunidad }}</td>
				<td>{{ person.Parroquia }}</td>
				<td>{{ person.Mojuvi }}</td>
			</tr>
		{% endfor %}
		</table>
	</section>
{% endblock %}
{% block footer %}
	<footer>
		<article  class="content-orgnizadores">
			<p class="title-organizadores">Organiza</p>
			<figure class="footer-logo-pastoral">
				<img class="logo-pastoral-foot" src="/img/pastoral.png" alt="">
			</figure>
			<figure class="footer-logo-rcc">
				<img class="logo-rcc-foot" src="/img/rcc.png" alt="">
			</figure>
		</article>
		<article  class="content-invitan">
			<p class="title-invitan">Invitan</p>
			<figure class="footer-logo-diocesis">
				<img class="logo-diocesis-foot" src="/img/diocesis.png" alt="">
			</figure>
		</article>
		<p class="team-monteriajs">© Koionia 2015</p>
	</footer>
{% endblock %}